.item-details {
    width: 90%;
    max-width: 1200px;
    background-color: hsl(240, 20%, 90%);
    margin-top: 2rem;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.item-details-body {
    padding: 2rem;
    padding-top: 0;
}

.item-details-header {
    width:100%;
    background-color: hsl(240, 20%, 20%);
    color: whitesmoke;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.item-details-header-top-line {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.item-details-footer {
    display: flex;
    justify-content: space-between;
}

h1.item-details-h1 {
    margin-top: 0;
    margin-left: 0;
}

.close-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(240, 50%, 50%);
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.ItemDetailsSectionHeader {
    display: flex;
    justify-content: space-between;
  }

.ItemDetailsTasksSection {
    display: flex;
    justify-content: flex-start;
    width: 700px;
  }
  
  .ItemDetailsTasksSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px;
  }
  
  .ItemDetailsTaskSectionBody {
    min-height: 350px;
    max-width: 300px;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
  }

  /* .ItemDetailsTable {
  max-width: 300px;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
} */
