.AdminValueTable {
    background-color: white;
    width: 400px;
}

.AdminTableHeader {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5rem;
}
