.NavBar {
    background-color: hsla(240, 0%, 0%, 0.7);
    background-blend-mode: lighten;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 90;
    padding: 0 0 0 0.5rem;

    img {
        height: 30px;
        padding: 0 1rem;
    }
}

.DesktopOnly {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    width: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display:none;
    }
}


