.CreateNewProjectForm {
    display: flex;
    flex-direction: column;
    width: 750px;
    border: 1px solid #AAA;
    background-color: #FFF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px gray;
    margin-bottom: 20px;
  }
  
  .CreateNewProjectFormRow {
    display: flex;
    justify-content: space-between;
  }