.ModalContentsContainer {
    /* max-width: 400px; */
  
    display: flex;
    justify-content: flex-start;
}


.ItemDetailsSection {
    width: 90%;
  }

.ItemDetailsSectionHeader {
  display: flex;
  justify-content: space-between;
}

.ItemDetailsTasksSection {
  display: flex;
  justify-content: flex-start;
  width: 700px;
}

.ItemDetailsTasksSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5px;
}

.ItemDetailsTaskSectionBody {
  min-height: 350px;
  max-width: 300px;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
}

.ItemDetailsTasksSectionBody {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  margin-left:30px;
}

.ItemCard {
  width: 100%;
  max-width: 800px;
  /* margin: auto; */
  cursor: pointer;
  background-color: hsl(240, 20%, 90%);
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px gray;
}

.CardContents {
  display: flex;
  justify-content: space-between;
  min-height:100px;
}
.CardMainBox {
  width: 80%
}
.CardRightSidePanel {
  display: flex;
  justify-content: flex-end;
  text-align: right;

}

.ModalHeader {
  background-color: hsl(240, 20%, 20%);
  color: whitesmoke
}

.ModalBody {
  background-color: hsl(240, 20%, 90%);
}

.ModalFooter {
  background-color: hsl(240, 20%, 90%);
}

.modal-tasks-container {
  margin-left: 20px;
  width: 250px;
}

.modal-task-list {
  background-color: yellow;
}

.ModalFooterContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ModalStatusBar {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.ProjectInformationTable {
  width: 100%;
}

.ActivityLogTable {
  background-color: #FFF;
}

.StatusBadge {
  min-width: 90px
}

