.Logout {
    color: hsl(240, 0%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    background-color: rgb(83, 8, 0);
    width: 6rem;
    border: 1px solid rgb(68, 3, 25);
    cursor: pointer;
    margin: 2rem 0 0 0;
    
    &:hover {
        color: white;
    }
}


@media (min-width: 500px) {
    .Logout {
        margin: 0;
    }

}