.ActivitySection {
    width: 90%;
  }

.ActivitySectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4px;
}

.ActivityLogTable {
    background-color: #FFF;
  }
  