
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./images/background2.jpg');
  background-size: cover;
  background-attachment: fixed;

}

h1 {
  margin: 10px;
  font-size: 20px;
}

main {
  width: 90%;
  min-width: 1000px;
  margin: auto;
}

.nav-bar {
  background-color: hsla(240, 0%, 0%, 0.7);
  background-blend-mode: lighten;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-item {
  margin: 20px;
  color: hsl(240, 0%, 80%)
}

.nav-bar-item:hover {
  color: white;
}

.project-list {
  display: flex;
  flex-direction: column;

}

.project-item {
  border: 1px solid blue;
  border-radius: 8px;
  height: 50px;
  width: 90%;
  margin: auto;
}

.item-card {
  width: 90%;
  margin: auto;
  cursor: pointer;
  background-color: hsl(240, 20%, 90%);
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px gray;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.create-new-project-form {
  display: flex;
  flex-direction: column;
  width: 750px;
  border: 1px solid #AAA;
  background-color: #FFF;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 10px 10px 20px gray;
  margin-bottom: 20px;
}

.create-new-project-form-row {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-top: 3rem;
  font-size: 30px;
}

h1.item-details-h1 {
  margin-top: 0;
  margin-left: 0;
}

h2 {
  margin-top: 2rem;
  font-size: 20px;
}

.item-details {
  width: 90%;
  max-width: 1200px;
  background-color: hsl(240, 20%, 90%);
  margin-top: 2rem;
  box-shadow: 5px 5px 10px gray;
  margin-bottom: 2rem;
  border-radius: 8px;

}

.item-details-body {
  padding: 2rem;
  padding-top: 0;
}

.item-details-header {
  width:100%;
  background-color: hsl(240, 20%, 20%);
  color: whitesmoke;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.item-details-header-top-line {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.item-details-table {
  max-width: 400px;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
}

.item-details-footer {
  display: flex;
  justify-content: space-between;
}

.activity-log-table {
  width: 90%;
  background-color: #FFF;
}

.task-item {
  color: blue;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.adminValueTable {
  background-color: white;
  width: 400px;
}

.adminTableHeader {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}